/* Resources.module.css */

.resourcesContainer {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .resourcesList {
    list-style: none;
    padding: 0;
  }
  
  .resourceItem {
    margin: 5px 0;
    font-size: 16px;
  }